@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(108, 53, 218, 0.4), rgba(93, 10, 72, 0.6));
}
h3 {
  text-align: center;
  color: #2f9fff;
  font-size: 35px;
  font-family: "Dancing Script", cursive;
}

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 55%;
  border-radius: 12px;
  background: linear-gradient(rgba(108, 53, 218, 0.4), rgba(93, 10, 72, 0.6));
  padding: 10px 20px 20px;
  margin-top: 50px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.174);
}

.display {
  height: 60px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
  border-radius: 10%;
}

.buttons {
  margin-top: 40px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.89);
}
.oparator {
  color: #2f9fff;
}
